.fixtures-wrapper{
    border:1.5px solid gray;
    border-radius: 10px;
    width: 100%;
    padding: 5px 15px;
}

.fixtures-wrapper table td{
    min-width: 60px;
    height: 50px;
    min-height: 400px;
    font-size: 15px;
}